header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
  background-color: #fff;
}

.desktopNav {
  display: flex;
  gap: 1.25rem;
}

.mobileNav {
  display: none;
  gap: 2.5rem;
  align-items: center;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}

.overlayMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  z-index: 50;
  cursor: pointer;
}

.logo {
  cursor: pointer;
  color: #000;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 924px) {
  header {
    padding: 1rem;
  }
  .desktopNav {
    display: none;
  }
  .menuButton {
    display: flex;
  }
  .mobileNav {
    display: flex;
    flex-direction: column;
  }
}
