.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.icon {
  position: absolute;
  left: 0.75rem;
  color: #7b7a7a;
  font-size: 1.2rem;
  pointer-events: none;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
